/* MY GENERAL CLASSES **********************/
.debug {
  background-color: rgba(238, 26, 11, 0.1);
}

.debug [class*="col-"] {
  background-color: rgba(238, 11, 11, 0.1);
  border: 1px solid black;
}

/* / GENERAL **************************/
.mc_container {
  width: auto;
}

.mc_width80 {
  width: 80%;
  margin: 0px auto;
}

.mc_bgcwhite {
  background-color: white;
}

.mc_bgcgrey {
  background-color: #f3f5f9;
}

.mc_colorwhite {
  color: white;
}

.mc_colorblue {
  color: #051d4f;
}

.mc_colorwhitesmoke {
  color: #b1c6ff;
}

.mc_p_container {
  font-size: 1.2em;
  color: #949cb2;
  padding-right: 10px;
}

.mc_h2_container {
  font-size: 2.3em;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mc_p_subtitle_container {
  font-size: 1.6em;
  font-weight: 500;
  color: #949cb2;
  margin-bottom: 30px;
}

.mc_bradius {
  border-radius: 5px;
}

.mc_padding_zero {
  padding-left: 0px;
  padding-right: 0px;
}

.mc_padding_right_zero {
  padding-right: 0px;
}

.mp_row_margin {
  margin-top: 55px;
  margin-bottom: 55px;
}

.mc_margin_bottom {
  margin-bottom: 20px;
}

.mc_link {
  font-size: 1.2em;
  font-weight: 500;
}

/* **********+BUTTON**** */
a {
  color: #2485fd;
  text-decoration: none;
}

.mc_btn_blue {
  border-color: #2485fd;
}

.mc_btn_blue span {
  color: #2485fd;
}

.mc_btn_bg_blue {
  background-color: #579aff;
  color: white;
  border-color: transparent;
}

.mc_btn_bg_white {
  background-color: white;
  color: black;
  border-color: transparent;
  box-shadow: 5px 6px 7px -6px #7e7575;
}
/* **********+BUTTON**** */

/* ********  C   A   R   O   U   S   E   L  ****** */
.mc_carousel_top {
  position: relative;
  margin-bottom: 15px;
}

.mc_carousel_top > img {
  width: 75%;
}

.mc_carousel_bottom > p {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 75px;
}

.mc_carousel_top > .mc_chevron_left {
  position: absolute;
  top: 50%;
  right: 88%;
  color: #6f7b97;
}

.mc_carousel_top > .mc_chevron_right {
  position: absolute;
  top: 50%;
  left: 88%;
  color: #051d4f;
}

.mc_carousel_top .fas {
  font-size: xx-large;
}

.mc_carousel_bottom > .mc_circle {
  color: #2485fd;
  margin-bottom: 45px;
}

.mc_carousel_bottom > .mc_circle > .mc_fa_circle:active {
  background-color: #2485fd;
  border-radius: 50%;
}

.mc_carousel_bottom > .mc_circle > .mc_fa_circle_blue:active {
  color: white;
  border-radius: 50%;
}
/* //////// C   A   R   O   U   S   E   L   //////// */

/* ////////// MY GENERAL CLASSES ///////////////*/

/* ************************************************* */
/* *********     H   E   A   D   E   R      ******** */
/* ************************************************* */
#nav-bar .container-fluid {
  height: 60px;
  width: 100%;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.mc_link_nav {
  margin-left: 20px;
  line-height: 67px;
  font-size: 1.2em;
}

.mc_link_nav a {
  color: black;
}

.mc_link_nav:hover a {
  color: coral;
}

.mc_inline {
  display: inline-block;
}

.mc_logo {
  width: 170px;
  margin-left: -15px;
}

.mc_menu {
  top: 80%;
  right: 0;
}

.mc_hamburger {
  color: #2485fd;
  border: transparent;
}

.mc_hamburger:hover {
  color: coral;
}

.mc_glyphicon_hamburger {
  font-size: x-large;
}

/* ////////////////// HEADER //////////////*/

/* ************************************************* */
/* ****     M        A       I        N      ******* */
/* ************************************************* */

/* ******  J   U   M   B   T   R   O   N   ******/
#jumbotron .container-fluid {
  /* min-height: 500px; */
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  background-position: bottom;
  margin-top: 60px;
}

#jumbotron .mc_jumbo_container {
  padding-top: 60px;
}

#jumbotron .mc_jumbo_container h1 {
  font-size: 4.4em;
}

#jumbotron .mc_jumbo_container h4 {
  font-size: 1.6em;
  line-height: 1.4;
}

#jumbotron .mc_jumbo {
  margin-bottom: 20px;
}

#jumbotron .mc_jumbo.mc_jumbo_left {}

#jumbotron .mc_jumbo:nth-child(2) {
  margin-bottom: 60px;
}

#jumbotron .mc_jumbo_left h4 {
  margin-top: 12px;
}

#jumbotron .mc_jumbo_box {
  padding: 10px;
}

#jumbotron .mc_jumbo_box h3 {
  font-size: 2em;
  line-height: 50px;
  font-weight: revert;
}

#jumbotron .mc_jumbo_box h3:nth-child(2) {
  color: #2485fd;
  margin-top: -20px;
}

#jumbotron .mc_btn_jumbo {
  width: 100%;
  margin-bottom: 15px;
}

#jumbotron .mc_btn_jumbo.mc_btn_bg_white {
  position: relative;
}

#jumbotron .mc_btn_jumbo img {
  height: 20px;
  position: absolute;
  left: 2%;
}

#jumbotron .mc_form {
  height: 40px;
}

/* ///////// J   U   M   B   T   R   O   N  ///////*/

/* ******  C    U   S   T   O   M   E   R   S  ******/
#customers .container-fluid {
  /* min-height: 250px; */
}

#customers h5 {
  text-transform: uppercase;
  color: #949cb2;
  font-size: 1.1em;
  margin-top: 35px;
  margin-bottom: 35px;
}

#customers img {
  height: 100px;
  width: 151px;
}

#customers p {
  margin-top: 35px;
  font-size: 1.2em;
  font-weight: 500;
}

/* //////// C    U   S   T   O   M   E   R   S ///////*/

/* ******  C  O  N  F  I  G  U  R  A  T  I  O  N  ****/
#configuration .container-fluid {
  /* min-height: 650px; */
}

#configuration .mc_conftop {
  margin-top: 55px;
  margin-bottom: 30px;
}

/* #configuration .mc_conftop h2 {
  font-size: 2.3em;
  font-weight: 500;
} */

#configuration .mc_conftop p {
 
  margin-bottom: 30px;
}

#configuration .mc_confbottom {
  margin-bottom: 45px;
}

#configuration .mc_confbottom-left {
  margin-left: 0px;
}

#configuration .mc_confbottom p {
  margin-bottom: 20px;
}

#configuration .mc_linegrey {
  border-left: 3px solid lightgray;
  min-height: 250px;
}

#configuration ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 10px;
}

#configuration .mc_li {
  line-height: 48px;
  font-size: 1.4em;
  font-weight: 500;
  color: #949cb2;
}

#configuration .mc_li a {
  color: #949cb2;
}

#configuration .mc_li a:hover {
  color: #2485fd;
}

#configuration .mc_padding_right {
  padding-right: 36px;
}

/* //////// C  O  N  F  I  G  U  R  A  T  I  O  N  ////*/

/* ********  D  E  V  E  L  O  P  E  R  S  *******/
#developers.container-fluid {
  /* min-height: 650px; */
}

#developers .mc_devtop {
  margin-top: 55px;
  margin-bottom: 30px;
}

/* #developers .mc_devtop h2 {
  font-size: 2.3em;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 20px;
} */

#developers .mc_devtop p {
  margin-bottom: 100px;
}
/* ///////////  D  E  V  E  L  O  P  E  R  S  ////////*/

/* ********  P    R   I   C   I   N   G   *******/
#pricing .container-fluid {
  /* min-height: 350px; */
}

/* #pricing .mc_pricingtop {
  margin-top: 55px;
} */


/* #pricing .mc_pricingbottom {
  margin-bottom: 55px;
} */

/* /////////  P    R   I   C   I   N   G   ////////*/

#service .container-fluid {
  min-height: 350px;
  background: -webkit-linear-gradient(-90deg, #0046c4 0%, #00209b 100%);
}

#team .container-fluid {
  min-height: 650px;
  background-color: #f3f5f9;
}

#start .container-fluid {
  min-height: 250px;
  background: -webkit-linear-gradient(-90deg, #0046c4 0%, #00209b 100%);
}

/* / MAIN ********************/

/* FOOTER ********************/
footer {
  min-height: 400px;
  background-color: #021c4d;
}

/* / FOOTER ********************/

/* MEDIA QUERIES ******************/
@media all and (max-width: 767px) {
  .mc_container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  #jumbotron .mc_jumbo.mc_jumbo_left {
    font-size: 90%;
  }

  #configuration .mc_confbottom-left {
    margin-left: 14px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .mc_container {
    width: 100%;
  }

  #jumbotron .mc_jumbo.mc_jumbo_left {
    font-size: 90%;
  }

  #configuration .mc_confbottom-left {
    margin-left: 0px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .mc_container {
    width: 100%;
  }

  #jumbotron .mc_jumbo.mc_jumbo_left {
    font-size: 90%;
  }

  #configuration .mc_confbottom-left {
    margin-left: 0px;
  }
}

@media all and (min-width: 1200px) {
  .mc_container {
    width: 1170px;
  }

  #jumbotron .mc_jumbo.mc_jumbo_left {
    font-size: 100%;
  }

  #configuration .mc_confbottom-left {
    margin-left: 0px;
  }

  #developers .mc_devtop p {
    margin-bottom: 30px;
  }

  #developers .mc_devbottom p {
    margin-bottom: 10px;
  }
}

/* / MEDIA QUERIES ******************/